purgatoryUnity/Temp/
purgatoryUnity/Library/
purgatoryUnity/Obj/
purgatoryiOS/
purgatoryAndroid/
purgatoryApp/
purgatoryExe/
purgatoryWeb/

purgatoryUnity.zip 
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.DS_store
